<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<meta name="description" content="The largest annual gathering of the Rust-language community · Talks and Trainings · Discord rooms for live discussion · Digital and in-person" />
<meta name="description" content="The annual gathering for the Tock Operating System community · Talks and Tutorials · Developer discussion." />
<link rel="canonical" href="https://world.tockos.org/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="TockWorld 7 - the annual gathering for the Tock Operating System community." />
<meta property="og:description" content="The largest annual gathering of the Rust-language community · Talks and Trainings · Discord rooms for live discussion · Digital and in-person" />
<meta property="og:url" content="https://world.tockos.org/" />
<meta property="og:site_name" content="TockWorld 7" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@talkingtock" />
