<ol class="agenda">
<li>
<p class="title">Topic</p>
<p class="time">Time</p>
<p class="speaker">Speaker</p>
</li>
{{ $key := .Get 0 }}
{{ range $talk := index .Site.Data $key }}
{{ if $talk.break }}
<li class="break">
  <p class="title">{{ $talk.title }}</p>
  <p class="time">{{ $talk.time }}</p>
  <p class="description">{{ $talk.description }}</p>
</li>
{{ else }}
<li>
{{ if $talk.title_link }}
  <p class="title"><a href="{{ absURL $talk.title_link }}"> {{ $talk.title }}</a></h2>
{{ else }}
  <p class="title">{{ $talk.title }}</h2>
{{ end }}
  <p class="speaker">{{ $talk.speaker }}<p>
  <p class="institution"><a href="{{ $talk.affiliation_link }}">{{ $talk.affiliation }}</a></p>
  <p class="time">{{ $talk.time }}</p>
  <div class="description">{{ $talk.abstract }}</div>
</li>
{{ end }}
{{ end }}
</ol>
